html {
  text-decoration: none;
}
.container {
 min-width: 180px;
  font-family: 'Raleway', sans-serif;
  width:30%;
  margin: auto;
  margin-top: 15%;
  color: black;
  border: 1px solid black;
  padding: 20px;
 

}

.container h1{
  text-align:center;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
}

.container li{
  float: left;
  display:inline;
  
  
}
.container a{
  text-decoration: none;
  /*display:block;*/
	padding: 4px;
	width: 100px;
  color: black;
}
.container a:hover{
  color:blue;
}
.container img{
  margin-top: 10%;
  margin-left: 19.9%;

}
.center {
  width: 50%;
  margin: 0 auto;
}
